<div class="flex flex-col justify-center items-center">
  <h1 class="text-4xl font-bold mb-4">
    Selamat Datang di Halaman Angular & TailwindCSS
  </h1>
  <p class="text-lg">Ini adalah contoh halaman</p>
  <button
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-8"
  >
    Tombol
  </button>
  <div class="">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi, quaerat
      nesciunt ullam quibusdam laudantium iusto magni doloremque culpa enim rem
      molestiae fugiat nulla sequi! Iusto hic itaque minima quia qui.
    </p>
  </div>
</div>
